/* ---------- */
/* CSS Resets */
/* ---------- */

/* Change box-sizing rules for all elements */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* <a> elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove all animations, transitions, and smooth scrolling for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}



/* Temporary image resize to make page readable */
/* img {
    width: 200px;
}
 */
body {
    font-family: 'Roboto', sans-serif;
}

/* Give all children of body padding to avoid re-declaring it for each child */
body > * {
    padding-inline: 10rem;
}

/* -------------- */
/* Header Section */
/* -------------- */

header {
    background-color: #1F2937;
    padding-block: 1rem;
}

/* Nav bar */

header nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

.header-logo {
    display: flex;
    flex-direction: row;

    font-size: 1.5rem;
    color: #F9FAF8;
}

.header-logo p {
    font-weight: 500;
}

.header-nav-links a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 1.125rem;
    font-weight: 300;
    padding-inline: 5px;
}

/* Hero section */
.hero-container {
    display: flex;
    flex-direction: row;
    padding-block: 3rem;
    gap: 1rem;
}

.hero-text {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.hero-text h1 {
    font-size: 3rem;
    font-weight: 900;
    color: #F9FAF8;
    line-height: 1.2;
}

.hero-text p {
    color: #E5E7EB;
    font-size: 1.125rem;
    font-weight: 300;
}

.hero-text button {
    display: inline-block;
    background-color: #3882F6;
    color: #F9FAF8;
    border: none;
    border-radius: 7px;
    padding: 0.5rem 1.5rem;
}

.hero-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-img img {
    width: 60rem;
}

.hero-img p {
    color: #E5E7EB;
    font-size: 1rem;
    font-weight: 100;
}